body {
  color:#828282;
  background-color: #F6F6EF;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: hotpink;
}

ol {
  margin: 3px auto auto 3px;
}

header {
  font-weight: bolder;
  font-size: large;
}

input {
  width: 900px;
  height: 40px;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  outline: none;
  font-size: 20px;
}

img {
  margin-top: 7px;
}

h4 {
  color: black;
  margin: 12px 10px 0px 5px;
  font-weight: bold;
}


  .topnav {
  display: flex;
  background-color:#FF7421;
  overflow: hidden;
}

.gear {
  font-size: 15px;
}

h5 {
  margin: 5px auto auto 5px;
}

.link {
  display: flex;
}

h6 {
  margin: 17px 50px auto 0px;
}

span {
  display: flex;
  overflow: hidden;
}